language: php
sudo: false
php:
- 5.5
- 5.6
script:
- ./vendor/bin/php-cs-fixer fix --verbose --dry-run
- ./vendor/bin/phpunit --coverage-text
before_script:
- mkdir -p build/logs
- composer install
after_script:
- php vendor/bin/coveralls -v
